/*Stage Two*/
.top {
	height: 48px;
	background-color: #118BC0; /*blue*/
}

.logo {
	height:32px;
	width: 32px;
	margin: 8px 15px;
	background-color: white; 
	float: left;
}

.fullName {
	height: 32px;
	width: 118px;
	margin-top: 8px;
	margin-bottom: 8px;
	background-color: white;
	float: left;
}

.logIn {
	height: 48px;
	width: 74px;
	background-color: #0070A4;
	float: right;
}

.main {
	height: 1110px;
	background-color: #344051; /*bule gray*/
	padding: 20px;
}

p {
	color: white;
	font-family: sans-serif;
	text-align: center;
	font-size: 30px;
}

.offer {
	margin: 0 auto;
	height: 31px;
	background-color: #344051;
	margin-top: 166px;
	margin-bottom: 40px;
}

.bestPlace {
	margin-top: 40px;
}

.slogan {
	font-size: 1em;
}

.createBox {
	height: 72px;
	width: 227px;
	border: 11px solid #212934;
	box-sizing: border-box;
	margin: 0 auto;
	background-color: #118BC0;
	margin-top: 30px;
}

.pointer {
	height: 21px;
	background-color: white;
	width: 50px;
	margin: 0 auto;
	margin-top: 181px;
}

.buzzWords {
	height: 70px;
	width: 302px;
	background-color: white;
	margin: 0 auto;
}

.buzzWords.a {
	margin-top:133px;
	margin-bottom: 15px;
}

.buzzWords.b {
	margin-top: 15px;
	margin-bottom: 15px
}
.buzzWords.c {
	margin-top: 15px;
	margin-bottom: 77px;
}

.lightBlue {
	height: 188px;
	background-color: #E8F0F5;
}

*.f {
	height: 216px;
	background-color: white;
	border-style: solid;
	border-color: #D1D3D7;
	border-top-width: 15px;
	border-bottom-width: 15px;
	border-right-width: 10px;
	border-left-width: 10px;
	padding: 24px 16px 36px 16px;

}

.f.large {
	height: 240px;
}

.f.topf {
	border-top-width: 32px;
}

.f.bottomf {
	border-bottom-width: 30px;
}

.midGray {
	background-color: #C7D2D8; /*mid gray*/
	float: center;
}

.midGray.Sq {
	height: 62px;
	width: 62px;
	margin: 0 auto;
}

.midGray.thinBar {
	height: 22px;
	margin-top: 12px;
	margin-bottom: 18px;
}

.midGray.regBar {
	height: 96px;
}

.midGray.fatBar {
	height: 120px;
}

.lightBlue.end {
	height: 170px;
	padding: 20px;
}

.createBoxEnd {
	height: 72px;
	width: 227px;
	margin: 0 auto;
	margin-top: 97px;
	background-color: #118BC0;
}

.black {
	height: 128px;
	padding: 20px;
	background-color: black;
}

.builder {
	height: 24px;
	margin-top: 50px;
	margin-right: 163px;
	margin-left: 163px;
	background-color: white;
}

.bottomLine1 {
	height: 16px;
	margin: 0 auto;
	padding: 10px;
	text-align: center;
}

.bottomLinks {
	color: white;
	font-size: 13px;
	display: inline-block;
	margin: 5px 15px 15px 5px;
	text-decoration: none;
	position: center;
}


